<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>		
		<link rel="stylesheet" href="css/cssreset.css">
		<link rel="stylesheet" href="css/doubleDate.css">
		<link rel="stylesheet" type="text/css" href="css/headerFooter2.css"/>
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/hover.css"/>	
	</head>
	<body>
		<!-- <header>
			<nav>
				<div class="logo">
					<a href="#"></a>
				</div>
				<ul class="nav-ul">
					<li class="nav-li"><a href="#" class=" headerActive">首页</a></li>
					<li class="nav-li"><a href="html/mdd.html">目的地</a></li>
					<li class="nav-li"><a  href="html/gonglve.html">旅游攻略</a></li>
					<li class="nav-li dropMenu">
						<a href="html/tourist mall.html">旅行商城</a>
						<span class='trigon'></span>
						<div class="dropdown">
							<ul>
								<li>
									<a href="html/tourist mall.html" target="_blank">自由行</a>
									<span class="hot1">hot</span>
								</li>
								<li><a href="#" target="_blank">跟团游</a></li>
								<li><a href="html/localTour.html" target="_blank">当地游</a></li>
								<li>
									<a href="html/ticket.html" target="_blank">国内机票</a>
									<span class="new">new</span>
								</li>
								<li><a href="html/visa.html" target="_blank">签证</a></li>
								<li><a href="html/insurance.html" target="_blank">保险</a></li>
							</ul>
						</div>
					</li>
					<li class="nav-li"><a href="html/hotel.html">酒店</a></li>
					<li class="nav-li society">
						<a class="title" href="#">社区</a>
						<span class='trigon'></span>
						<div class="drop-menu">
							<ul class="left-list">
								<li>
									<a href="#" target="_blank">问答<span class="hot1">hot</span></a>
									
								</li>
								<li>
									<a href="#" target="_blank">马蜂窝周边<span class="new">new</span></a>
									
								</li>
								<li><a href="#" target="_blank">蜂首俱乐部</a></li>
								<li><a href="#" target="_blank">结伴</a></li>
							</ul>
							<ul class="right-list">
								<li><a href="#" target="_blank">小组论坛</a></li>
								<li><a href="#" target="_blank">蜂众同城</a></li>
								<li><a href="#" target="_blank">马蜂窝拍卖行</a></li>
								<li><a href="#" target="_blank">道具pk</a></li>
								<li><a href="#" target="_blank">真人兽</a></li>
								<li><a href="#" target="_blank">道具商店</a></li>
							</ul>
						</div>				
					</li>
					<li class="nav-li"><a class="link" href='html/app.html'>app</a></li>					
				</ul>
				<div class="rightNav">
					<a class="spirit sina" href="#"></a>
					<a class="spirit qq" href="#"></a>
					<a class="spirit wechat" href="#"></a>
					<a class="login" href="html/login.html">登录</a>
					<span class="line">|</span>
					<a class="reg" href="html/reg.html">注册</a>
				</div>
			</nav>
		</header> -->
        <!-- 轮播图 -->
        <div class="banner">
			<div class="pic">
				<ul class="pic-ul">
					<li class="img-list">
						<a href="#"><img src="img/2.jpeg"/></a>
						<h3>我喜欢旅游，正好她有四天假</h3>
					</li>
					<li class="img-list">
						<a href="#"><img src="img/3.jpeg"/></a>
						<h3>热爱音乐，热爱世界，热爱你</h3>						
					</li>
					<li class="img-list">
						<a href="#"><img src="img/wKgBEFt3AyKAeGlqAAeRmkoYvr433.jpeg"/></a>
						<h3>世界上唯有爱和美食不可辜负</h3>
					</li>
					<li class="img-list">
						<a href="#"><img src="img/wKgIC1t_6xeAIEgWAAHma5Zd88466.jpeg"/></a>
						<h3>遨游海洋，见证奇迹，挑战自我</h3>
					</li>
					<li class="img-list">
						<a href="#"><img src="img/wKgBEFt-lteAE2CqAAfti2H3KCE59.jpeg"/></a>
						<h3>【伦敦四季】恋四季风尘，也愿你如雾</h3>
					</li>						
				</ul>
			</div>	
		    
		    <div class="smallPic">
		    	<ul>
		    		<li class="btn-list active"><img src="img/4.jpeg"/></li>
		    		<li class="btn-list"><img src="img/wKgIDFuCmreAAeDqAAWmYDNLMoU16.jpeg"/></li>
		    		<li class="btn-list"><img src="img/wKgBEFt3AxOAVi0-AAMkyD_OCQE48.jpeg"/></li>
		    		<li class="btn-list"><img src="img/wKgBEFt_6w6APze2AAEPdHGCuxc92.jpeg"/></li>
		    		<li class="btn-list"><img src="img/wKgBEFt-ltCATcMxAAQTNtLZIPY77.jpeg"/></li>
		    		<li><a href="#" target="_blank"></a></li>
		    	</ul>
		    </div>
		    <div class="search-box">
		      	<!-- <div class="search-item">
		      	 	 <ul class="search-tab">
		      	 	 	<li class="search-list"><span class="tab"></span>全部</li>
		      	 	 	<li class="search-list"><span ></span>酒店</li>
		      	 	 	<li class="search-list"><span ></span>目的地</li>
		      	 	 	<li class="search-list"><span ></span>商城</li>		      	 	 	
		      	 	 </ul>
		      	</div> -->
		      	<!-- <div class="searchInput act">
		      	 	<input type="text" name="" id="" value="" placeholder="搜索目的地/攻略/酒店/旅行特价" class="txt"/>
		      	 	<input type="button" name="" id="" value="" class="btn"/>		      	       	 	
		      	</div> -->
		      	<div class="searchInput act">	      	 
		      	 	<input type="text" name="" id="start" value="" placeholder="出发地" class="hotel" style="width: 90px" />
		      	 	<input type="text" name="" id="stop" value="" placeholder="目的地" class="hotel" style="width: 90px"/>
		      	 	<input type="text" name="" id="startDay" value="" readonly='readonly' placeholder="选择出发日期" class="hotel time doubledate"/>
		      	 	<span></span>
		      	 	<input type="text" name="" id="stopDay" value="" readonly='readonly' placeholder="选择归来日期" class="hotel time doubledate"/>
		      	 	<!-- <span class="calendar"></span> -->
		      	 	<input type="button" name="search" id="search" value="" class="btn"/>
		      	</div>
		      	<div class="searchInput">
		      	 	<input type="text" name="" id="" value="" placeholder="我要去..." class="txt"/>
		      	 	<input type="button" name="" id="" value="" class="btn"/>		      	       	 	
		      	</div>
		      	<div class="searchInput">
		      	 	<input type="text" name="" id="" value="" placeholder="产品名称/优惠/目的地" class="txt"/>
		      	 	<input type="button" name="" id="" value="" class="btn"/>
		      	</div>
		    </div>
		    <div class="desc">
		    	<!-- <p>图片来自于<em>菲律宾</em>，此目的地共收藏了<em>522978</em>张菲律宾图片，本片由<em>锦字</em>荣誉出品</p> -->
		    	<em>定制你的私人旅程——旅途，从环球国旅开始。</em>
		    </div>
		    <div class="date" id="dates">
		    	<span class="day"></span>
		    	<sub>/</sub>
		    	<sub class="month"></sub>    	
		    	<sub class="year"></sub>
		    </div>
		</div>
		<!--主要内容-->
		<div class="container clearFiexd">
			<!-- 左边栏 -->
	        <aside>
				<div class="leftContent">
					<div class="title clearFiexd">
						<h2>旅游笔记</h2>
						<h3><a href="#" class="smallTtile">专栏首页</a></h3>
					</div>
					<div class="slide">
						<div class="travelPic">
							<a href="#"><img src="img/travel.png" /></a>													
						</div>
						<div class="message">
							<h4><a href="#">喜马拉雅力量</a></h4>
							<p>“即便用天神的一百个时代，我也难以向你说尽喜马拉雅山的光辉。人的罪过只要一见到喜马拉雅就会消除。”</p>
						</div>						
					</div>
				</div>				
				<div class="leftContent">
					<div class="title clearFiexd">
						<h2>旅行攻略推荐</h2>
						<h3><a href="#" class="smallTtile">更多></a></h3>
					</div>
					<div class="travelPic">						
						<a href="#"><img src="img/wKgBEFt76peAd4GyAAESX1lLfI028.jpeg" /></a>												
					</div>
					<div class="message">
						<h4><a href="#">玩遍成都市区及周边，感受不一样</a></h4>
						<p>
							<a href="#">维维</a>点评&nbsp河西区的
						</p>
						<p>
							<a href="#">jdj</a>点评了&nbsp;思明区的<a href="#">宴遇(新景中</a>		
						</p>
						<p>
							<a href="#">V ndslkv</a>点评了&nbsp;邗江区的<a href="#">扬州虹桥坊温</a>						
						</p>
						<p>
							<a href="#">Dummy.</a>点评了&nbsp;大理市的<a href="#"> 杜文秀墓</a>							
						</p>
						<p>
							<a href="#">环球国旅用 </a>点评了&nbsp;平遥的<a href="#">文庙</a>							
						</p>
					</div>		
				</div>
				<div class="leftContent news-list clearFiexd">
					<div class="title clearFiexd">
						<h2>最新活动</h2>
						<h3><a href="#" class="smallTtile">查看全部></a></h3>
					</div>
					<div class="travelPic ">
						<ul class="pic-ul clearFiexd">
							<li class="pic-list">
								<a href="#"><img src="img/wKgIDFuGNoaAEOOqAALUKRPy58k378.png" /></a>
								<h4><a href="#">天生敢带，不惧未知</a></h4>
								<p>20条未知路线，等你挑战</p>
							</li>
							<li class="pic-list">
								<a href="#"><img src="img/wKgIDFt9D4WAf4ICAAF1hGEjMnw51.jpeg" /></a>						
								<h4><a href="#">探索未知，赴约非凡之旅！</a></h4>
								<p>出价赢取阿布扎比神秘冒险</p>
                            </li>
							<li class="pic-list">
								<a href="#"><img src="img/wKgIDFuGNoaAEOOqAALUKRPy58k378.png" /></a>
								<h4><a href="#">寻找中国1号公路</a></h4>
								<p>看达人公路故事，抽Gopro大奖！</p>
							</li>
 							<li class="pic-list">
								<a href="#"><img src="img/wKgBZ1uGABmAX81sAAGAVCmBMRQ95.jpeg" /></a>
								<h4><a href="#">嗨玩开学季，带娃游园去    </a></h4>
								<p>光大信用卡终极优惠，放肆享用！</p>
							</li>
							<li class="pic-list">
								<a href="#"><img src="img/wKgIC1t-nWOAeqffAAD8fMbG8lI06.jpeg" /></a>
								<h4><a href="#">即刻启程，探索加拿大</a></h4>
								<p>与我们一同去探索吧！</p>								
							</li>
						</ul>												
						<ul class="travelbtn">
							<li class="btn-li slideBtn"></li>
							<li class="btn-li"></li>
							<li class="btn-li"></li>
							<li class="btn-li"></li>
							<li class="btn-li"></li>
						</ul>								
						
					</div>						
				</div>			    
<!-- 			    <div class="leftContent">
					<div class="title clearFiexd">
						<h2>未知实验室</h2>
						<h3><a href="#" class="smallTtile">查看更多></a></h3>
					</div>
					<div class="travelPic">						
						<a href="#"><img src="img/unknownTravel.png" /></a>
					</div>												
				</div>				
				<div class="leftContent  join">
					<div class="title clearFiexd">
						<h2>加入马蜂窝</h2>
						<h3><a href="#" class="smallTtile">更多职位></a></h3>
					</div>					
					<a href="#"><img src="img/wKgBEFt76peAd4GyAAESX1lLfI028.jpeg" /></a>					
					<div class="message">												
						<a href="#" class="post">广告销售经理<span></span><em class="morePost">申请职位</em></a>
						<a href="#" class="post">资深PHP开发工程师<span></span><em class="morePost">申请职位</em></a>
						<a href="#" class="post">广告执行经理<em class="morePost">申请职位</em></a>  																
					</div>		
				</div>				
				<div class="leftContent newDevelops">
					<div class="title clearFiexd">
						<h2>马蜂窝旅行网站最新进展</h2>					
					</div>					
					<div class="message">	
						<p><em>02月06日</em><a class="newDevelop" href="#">蚂蜂窝2018蜂首台历开始预售</a></p>
						<p><em>11月08日</em><a class="newDevelop" href="#">蚂蜂窝赤水音乐季圆满结束</a></p>
						<p><em>11月05日</em><a class="newDevelop" href="#">指路人俱乐部首期面基大会圆满成功</a></p>
						<p><em>05月12日</em><a class="newDevelop" href="#">蚂蜂窝2016秋酷大趴全纪录</a></p>
						<p><em>10月29日</em><a class="newDevelop" href="#">蚂蜂窝秋酷大趴进入倒计时</a></p>
						<p><em>09月29日</em><a class="newDevelop" href="#">蚂蜂窝2018蜂首台历开始预售</a></p>										
					</div>		
				</div> -->
			</aside>
			<!-- 右边栏 -->
			<section>
				<div class="rightContent">
					<h2>热门旅游路线</h2>
					<div class="hot clearFiexd">
						<ul>
							<li class="hot-list hover">
								<a href="#">									
									<img id="img1" src="img/wKgBs1dWg7WAYvs6AAp7WYbaJiI04.jpeg" />
									<div class="hotTitle">							
										<h3 id="h1" >
										</h3>
										<div class="price">
											￥<strong id="s1"></strong><em>起</em>
										</div>	
									</div>
								</a>
							</li>
							<li class="hot-list">
								<a href="#">
									<img id="img2" src="img/wKgBEFt0BPKAJ5f-AAGCs5zNXZA80.jpeg" />
								    <div class="hotTitle">
										<h3 id="h2"></h3>
										<div class="price">
											￥<strong id="s2"></strong><em>起</em>
										</div>
									</div>
								</a>
							</li>
							<li class="hot-list">
								<a href="#">									
									<img id="img3" src="img/wKgBZ1jl2ByALGqWAAVl6wu9EVc60.jpeg"/>
									<div class="hotTitle">					
										<h3 id="h3"></h3>
										<div class="price">
											￥<strong id="s3"></strong><em>起</em>
										</div>
									</div>	
								</a>								
							</li>
						</ul>
					</div>
				</div>
				<div class="hotNodes">
					<ul>
						<li class="hotCurrent" >
							<a>路线组合推荐</a>
							<!-- <span id="screenBtn"><i></i><em>筛选</em></span> -->
						</li>
						 <li><a id="recommend">猜你喜欢</a></li>
					</ul>
					<!-- <div class="writeNodes">
						<i></i>
						<a href="#">写游记</a>
					</div> -->	
					<!-- <div class="screen" id="screenBox">
						<div class="destination">
							<h3>目的地</h3>
							<div class="searchDst">
								<input id="searchBars" type="text" placeholder="请输入你想查看的目的地" />
								<div class="city">
									<a href="#">斯里兰卡</a>
									<a href="#">济州岛</a>
									<a href="#">香港</a>
									<a href="#">北京</a>
									<a href="#">云南</a>
									<a href="#">泰国</a>
									<a href="#">青海湖</a>
									<a href="#">日本</a>
								</div>
							</div>
						</div>
						<div class="interest">
							<h3>兴趣</h3>
							<div class="interestCon clearFiexd">
								<ul class="clearFiexd">
									<li>
										<a href="">
											<img src="img/wKgBs1d8dTCAcpbjAACantFj9Lc31.jpeg" />
											<div class="imgTitle">
												<h3>吃遍天下</h3>
												<em>无敌手</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">											
											<img src="img/wKgBs1d8s0eAIzOxAADHUDzpwyk33.jpeg" />
											<div class="imgTitle">
												<h3>带着对象</h3>
												<em>去虐狗</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8diWAeEuVAACQdwKycrM19.jpeg" />
											<div class="imgTitle">
												<h3>姑娘漂亮</h3>
												<em>就是美</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8fXSASKT6AAA5t6CGBs050.jpeg" />
											<div class="imgTitle">
												<h3>带着孩子</h3>
												<em>看世界</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8eTWAdEVhAACSUDmMgdg66.jpeg" />
											<div class="imgTitle">
												<h3>登山徒步</h3>
												<em>用脚走</em>
											</div>												
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8eqqAU6M-AACLbzgALD438.jpeg" />
											<div class="imgTitle">
												<h3>带着父母</h3>
												<em>去远方</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8tf6Abj2cAACmlG9smLk15.jpeg" />
											<div class="imgTitle">
												<h3>独自一人</h3>
												<em>最自由</em>
											</div>											
										</a>								
									</li>
									<li>
										<a href="">
											<img src="img/wKgBs1d8tJqAOm22AAAlduuXCi410.jpeg" />
											<div class="imgTitle">
												<h3>短途周末</h3>
												<em>散散心</em>
											</div>											
										</a>								
									</li>
								</ul>
							</div>
						</div>	
				    </div> -->
				 </div>	
				<div class="travelContent">
					<ul class="show">
						<li>
							<a href="#">
								<img src="img/wKgBEFtKDmOAeJsgAAaDl-9P6-I20.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt1">【南宁-北海-防城港】————属于海的夏日香气</dt>
										<dd id="dd1">记住 墨西哥 的理由很简单，太阳再猛烈，还是会下雨。 爱上 墨西哥 的理由很简单，吃再多卷饼，居然也没胖。 旋律与色彩交织的国度，飞过来看看吧。 （视频建议WIFI下观看） 我和春哥作为旅</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i ></i>
										</span>
										<span id="i1">
											<i  class="per"></i> 三日游
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
										<span>
											<i  class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
					    <li>
							<a href="#">
								<img src="img/wKgBEFswq92AAenmAA52dXwa6d049.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt2">【南宁-来宾-柳州-桂林】</dt>
										<dd id="dd2">他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i ></i>
										</span>
										<span id="i2">
											<i  class="per"></i> 7日游
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
										<span>
											<i  class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFtitAaAYz4jABFLjDUrzI458.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt3">【玉林-北海-钦州-防城港】——吃遍海鲜，游遍海滩</dt>
										<dd id="dd3">他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i ></i>
										</span>
										<span id="i3">
											<i  class="per"></i> 10日游
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
										<span>
											<i  class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFs8FbyAAkcNACc6VMyZo-c359.png" />
								<div class="life">
									<dl>
										<dt id="dt4">【百色-河池-柳州-桂林】——玩遍广西
										</dt>
										<dd id="dd4">他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i ></i>
										</span>
										<span id="i4">
											<i  class="per"></i> 7日游
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
										<span>
											<i  class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<!-- <li>
							<a href="#">
								<img src="img/wKgBEFt0PdWAN9JhAA2MYwEzUs085.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
					    <li>
							<a href="#">
								<img src="img/wKgBEFsPYcaABmIGAAxyKZoc6Tc57.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFs-NSqAIuyIAAdLa2vAkjY51.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFsyPgGAGbsSABCgzTNHaUQ81.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFtHWaWAflneAAf9kc_3bV428.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFtHWaWAflneAAf9kc_3bV428.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBZ1li7neAVQMNAAaIGeqBMLI72.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgBEFsnfwGAL85kAA64P9BZ2EI22.jpeg" />
								<div class="life">
									<dl>
										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>
										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>
									</dl>
									<div class="life-btn clearFiexd">
										<span>
											<i></i>濑户内海 by
										</span>
										<span>
											<i class="per"></i> 一颗南瓜籽
										</span>
										<span>
											<i class="see"></i> 3908/95
										</span>
										<span>
											248<i class="toop"></i>
										</span>
									</div>
								</div>
							</a>
						</li> -->
					</ul>
				    <ul>
						<li>
							<a href="html/ziyouxing.html">
								<img src="img/wKgED1uL6YCAa6fCABX2sMZwvKQ78.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt5">迪拜，这座沙漠上的传奇或许有你未听过的故事</dt>
										<dd id="dd5">赫·穆罕默德曾经说过“没有人会记得第二名是谁”。所以这个沙漠中的城市总是在挑战着自然与人类的神经，创造出一个个世界第一，不断刷新的世界第一高楼，第一座帆船酒店等等，抓足了世人的...</dd>
									</dl>
									<div class="life-btn clearFiexd">
<!--										<span>-->
<!--											<i id="i5"></i>-->
<!--										</span>-->
										<span id="i5">
										<i class="per"></i>
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 34589/155-->
<!--										</span>-->
<!--										<span>-->
<!--											951<i class="toop"></i>-->
<!--										</span>-->
									</div>
								</div>
							</a>
						</li>
					    <li>
							<a href="#">
								<img src="img/wKgBEFs6DLCAKRMZAApjt16ROhk54.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt6">［小立立下雨板脸环球游］上九天揽月下五洋捉鳖</dt>
										<dd id="dd6">2018年05月08日，我向自己预约了这篇游记，当时我说：但愿不要晒黑。 澳洲回来一个月啦，赶紧写游记不然又又又忘记啦。 无限拖延症～～～～～～～～～写游记太痛苦，重点肚子没有货儿～～～ </dd>
									</dl>
									<div class="life-btn clearFiexd">
<!--										<span>-->
<!--											<i id="i6"></i>-->
<!--										</span>-->
										<span id="i6">
											<i class="per"></i>
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											360<i class="toop"></i>-->
<!--										</span>-->
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgIC1uCNxCAUzwRAB7NJZyGrjE07.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt7">济州岛丨不小心收获一个彩色的夏日☁️</dt>
										<dd id="dd7">在 首尔 飞 济州岛 的路上，我有点懊悔！ 借着妹妹在 首尔 婚礼的机会，策划了一场夏日的 济州岛 之行。安排了2天在 首尔 ，可没待够，去 济州岛 前也没有做攻略，5天留给这座小岛好像过于奢</dd>
									</dl>
									<div class="life-btn clearFiexd">
<!--										<span>-->
<!--											<i id="i7">3日游</i>-->
<!--										</span>-->
										<span id="i7">
											<i class="per"></i>
										</span>
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											462<i class="toop"></i>-->
<!--										</span>-->
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/wKgED1uJka-AFGasAAfL025eKcs85.jpeg" />
								<div class="life">
									<dl>
										<dt id="dt8">肯尼亞🇰🇪去一次才明白人為什麼要活的自</dt>
										<dd id="dd8">肯尼亞🇰🇪旅行Tips💋有問必答( 📌自由行or跟團 非洲 國家基礎設施落後，貧富差距大，治安不好，旅遊業沒法和發達國家比。出於對人身安全的考慮，不建議自由行！當然跟團也有風險，此次旅行</dd>
									</dl>
									<div class="life-btn clearFiexd">
<!--										<span>-->
<!--											<i id="i8">1日游</i>-->
<!--										</span>-->
										<span id="i8">
											<i class="per"></i>
										</span>
<!--										<span>-->
<!--											<i class="see"></i>3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											11<i class="toop"></i>-->
<!--										</span>-->
									</div>
								</div>
							</a>
						</li>
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgED1uecrCAV3ofAAjQIcaYUJE64.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>初探苏格兰 | 风笛声中的浪漫与孤寂</dt>-->
<!--										<dd>九月的大不列颠已经正式进入秋天，尤其是 约克 郡以北， 苏格兰 的风和雨频繁杂糅在一起，隐藏了蓝天，也彻底温柔了大地，大巴车平稳地行驶在世界最美公路上，每一次停车观望，错车时礼貌的</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>苏格兰, by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 闫伯群伯伯-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--					    <li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFtxCvyAX0MMABxafDp35dA69.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【带你玩转瑞士】追梦而行，探秘仙境国度</dt>-->
<!--										<dd>【关于我的旅行愿望清单】 瑞士 ——童话般的仙境国度，我的梦想之地，一直位列旅行清单的榜首。 当揣着愿望清单，琢磨着这次旅行的目的地， 加拿大 、 冰岛 、 希腊 、 韩国 、 巴厘岛 </dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>瑞士,by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i>  陈小厨私旅-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFs-NSqAIuyIAAdLa2vAkjY51.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span class="by">-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span class="by">-->
<!--											<i class="per"></i>一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFsyPgGAGbsSABCgzTNHaUQ81.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFtHWaWAflneAAf9kc_3bV428.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFtHWaWAflneAAf9kc_3bV428.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBZ1li7neAVQMNAAaIGeqBMLI72.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="#">-->
<!--								<img src="img/wKgBEFsnfwGAL85kAA64P9BZ2EI22.jpeg" />-->
<!--								<div class="life">-->
<!--									<dl>-->
<!--										<dt>【后会无期】——澳大利亚 墨尔本 最美沿海公路の大洋路3日</dt>-->
<!--										<dd>他这样孤独的漂流，只是想去未知的世界看一眼。有些人，一辈子都只会缩在一个角落里，连窗外都懒得看，更别说踏出门。 ——————电影【后会无期】 很多时候计划总是赶不上变化，那就活在</dd>-->
<!--									</dl>-->
<!--									<div class="life-btn clearFiexd">-->
<!--										<span>-->
<!--											<i></i>濑户内海 by-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="per"></i> 一颗南瓜籽-->
<!--										</span>-->
<!--										<span>-->
<!--											<i class="see"></i> 3908/95-->
<!--										</span>-->
<!--										<span>-->
<!--											248<i class="toop"></i>-->
<!--										</span>-->
<!--									</div>-->
<!--								</div>-->
<!--							</a>-->
<!--						</li>-->
					</ul>
				</div>
<!--				<div class="paging">-->
<!--			    	<span>共146页/147条</span>-->
<!--			    	<a class="nextPage prePage"><<上一页</a>-->
<!--			    	<a  class="pageCurrent one">1</a>-->
<!--			    	<a >2</a>-->
<!--			    	<a >3</a>-->
<!--			    	<a >4</a>-->
<!--			    	<a >5</a>-->
<!--			    	<a>6</a>-->
<!--			    	<a>7</a>-->
<!--			    	<a>8</a>-->
<!--			    	<a >9</a>-->
<!--			    	<a class="nextPage">下一页>></a>-->
<!--			    </div>-->
			</section>
			
		</div>
		<!--底部-->
		<!-- <div id="aside" class="onekkk">
		    <div class="leftFixed" >
				<div class="backTop">
		   	    	<span class="top"></span>
		   	    	<p class="ptop">返回顶部</p>
		   	    </div>
		   	    <div>
		   	    	<span class="feedback"></span>
		   	    	<p class="pfeedback">意见反馈</p>
		   	    </div>
		   	    <div class="Qcode">
		   	    	<span class="smallQr"></span>
		   	    	<p class='psmallQr'></p>
		   	    </div>
		    </div>
		</div> -->
		<!-- <footer>
			<div class="footerMsg">
				<div class="footerCon clearFiexd">
					<dl>
						<dt>全球旅游消费指南</dt>
						<dd>覆盖全球200多个国家和地区</dd>
						<dd><em>100,000,000</em> 位旅行者</dd>
						<dd><em>920,000 </em>家国际酒店</dd>
						<dd><em>21,000,000 </em>条真实点评</dd>
						<dd><em>382,000,000 </em>次攻略下载</dd>
						<dd><em>中国旅游行业第一部“玩法”</em></dd>
					</dl>
					<dl>
						<dt>关于我们</dt>
						<dd><a>关于马蜂窝</a><a>联系我们</a></dd>
						<dd><a>隐私政策</a><a>商标声明</a></dd>
						<dd><a>服务协议</a><a>游记协议</a></dd>
						<dd><a>商城平台服务协议</a></dd>
						<dd><a>网络信息侵权通知指引</a></dd>
						<dd><a href="#">网站地图</a><a href=""><em>加入马蜂窝</em></a></dd>						
					</dl>
					<dl class="service">
						<dt class="serviceTravel">旅行服务</dt>
						<dd ><a>旅游攻略</a><a>酒店预订</a></dd>					
						<dd><a>旅游特价</a><a>国际租车</a></dd>
						<dd><a>旅游问答</a><a>旅游保险</a></dd>
						<dd><a>旅游指南</a><a>订火车票</a></dd>				
						<dd><a>旅游资讯</a><a>APP下载</a></dd>
						<dd><a>旅行商城全球商家入驻</a></dd>
						
					</dl>
					<dl class="QR">
						<dd><img src="img/qr_mfw4.gif" /><p>马蜂窝APP扫描</p><p>立即下载</p></dd>
				        <dd><img src="img/qr_mfw4.gif" /><p>马蜂窝旅游</p><p>订阅号</p></dd>
				        <dd class="serviceCode"><img src="img/erweima.png"/><p>马蜂窝良品</p><p>官方服务号</p></dd>
					</dl>
					<dl class="Caribbean">
						<dt>向崇尚自由的加勒比海盗致敬！</dt>
						<dd>
							<span></span>
							<span></span>
							<span></span>
						</dd>
					</dl>
				</div>
			    <div class="friendsLink">
			    	<a href="#">马可波罗</a>
			    	<a href="#">Onlylady女人志</a>
			    	<a href="#">艺龙旅游指南</a>
			    	<a href="#">欣欣旅游网</a>
			    	<a href="#">户外运动</a>
			    	<a href="#">365音乐网</a>
			    	<a href="#">爱问共享资料网</a>
			    	<a href="#">旅游网小说</a>
			    	<a href="#">学习啦</a>
			    	<a href="#">游多多自助游</a>
			    	<a href="#">问答火车时刻表</a>
			    	<a href="#">驴妈妈旅游网</a>			    	
			    	<a href="#">好豆美食网</a>
			    	<a href="#">二手车</a>
			    	<a href="#">途牛旅游网</a>
			    	<a href="#">绿野户外</a>
			    	<a href="#">图吧</a>
			    	<a href="#">SUV联合越野</a>
			    	<a href="#">手机浏览器</a>
			    	<a href="#">上海地图</a>
			    	<a href="#">学习啦</a>
			    	<a href="#">天气预报查询</a>
			    	<a href="#">同程旅游</a>
			    	<a href="#">火车票</a>			    	
			    	<a href="#">YunOS</a>
			    	<a href="#">携程旅游</a>
			    	<a href="#">锦江旅游</a>
			    	<a href="#">火车时刻表</a>
			    	<a href="#">天巡网</a>
			    	<a href="#">短租房</a>
			    	<a href="#">租租车</a>
			    	<a href="#">五分旅游</a>
			    	<a href="#">爱旅行网</a>
			    	<a href="#">旅游旅游网</a>
			    	<a href="#">同程旅游</a>
			    	<a href="#">wed114结婚网</a> 
			    	<a href="#">车讯网</a>
			    	<a href="#">遨游旅游网</a>
			    	<a href="#">手机</a>
			    	<a href="#"> 更多友情链接>></a> 
			    </div>
			    <div class="copyRight">
			    	<div class="copyLogo">
			    		<span href="#" class="footerLogo"></span>
			    	</div>
			    	
			    	<p>© 2018 Mafengwo.cn <a href="#">京ICP备11015476号</a> <a href="#"><span class="police"></span>京公网安备11010502013401号 </a><a>京ICP证110318号</a>网络出版服务许可证：(总)网出证(京)字第161号</p>
			    	<p>增值电信业务经营许可证：京B2-20180228 <a>营业执照</a><a>帮助中心</a>马蜂窝客服：国内<em>4006-345-678</em>海外 <em>+86-10-5922-2799</em></p>
			    	<div class="honesty">
			    		<span></span>
			    		<span></span>
			    		<span></span>
			    	</div>
			    </div>
			</div>
		</footer> -->
			


			    
		<script src="js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>  
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>  
		<script src="js/doubleDate2.0.js"></script>
		<script src="js/routeJs/search.js"></script>
		<script src="js/routeJs/getTopRoute.js"></script>
		<script src="js/routeJs/recommend.js"></script>
		<script>
			$(function(){
				$('.doubledate').kuiDate({
					className:'doubledate',
					isDisabled: "0"  // isDisabled为可选参数，“0”表示今日之前不可选，“1”标志今日之前可选
				});
			});
		</script>	
	</body>
</html>